*{
    padding: 0px;
    margin: 0px;
}
header{
    padding: 50px;
    text-align: center;
    color: white;
    background-color: black;
}
header > h1{

}
header > p{
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
main{
    background-color: grey;
}
.imagem1{
    padding: 15px;
    max-width: 700px;
    background-image: url(../imagens/background001.jpg);
    background-attachment: center;
    background-size: 100% 100%;

}
footer{
    background-color: rgb(0, 0, 0);
}