@charset "UTF-8";

/*Estilo para Telas*/

*{
    margin: 0px;
    padding: 0px;
    
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(133, 133, 133);
}
header > h1{
    text-align: center;
}
menu ul{
    background-color: rgb(88, 88, 88);
    padding-left: 10px;
    list-style-type: none;
}
menu li{
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 10px;
}
article{
    margin: auto;
    width: 600px;
}
article > h2{
    text-align: center;
}
article > p{
    text-align: justify;
}